<%- include("partials/header"); -%>
  <h1>Confess</h1>
  <form class="" action="/confess" method="post">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="postTitle">
      <label>Category</label>
      <select name="postCategory" class="form-control">
        <option value="Family">Family</option>
        <option value="Friends">Friends</option>
        <option value="Relative">Relative</option>
        <option value="School/College">School/College</option>
        <option value="Office">Office</option>
        <option value="Journey">Journey</option>
        <option value="Personal">Personal</option>
        <option value="Habit">Habit</option>
        <option value="other">other</option>
      </select>
      <label>Post</label>
      <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>

  <%- include("partials/footer"); -%>
